Technologie XML/Laboratorium/Zadanie_1_AK.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Zadanie_1_AK" type="Zadanie_1_AKType"/>
  <xs:complexType name="WagaType">
    <xs:simpleContent>
      <xs:extension base="xs:float">
        <xs:attribute type="xs:string" name="jednostka" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PrędkośćMaksymalnaType">
    <xs:simpleContent>
      <xs:extension base="xs:byte">
        <xs:attribute type="xs:string" name="jednostka" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="DziałoType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:byte" name="kaliber" use="optional"/>
        <xs:attribute type="xs:string" name="jednostka" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="WieżaType">
    <xs:sequence>
      <xs:element type="xs:string" name="TypWieży"/>
      <xs:element type="DziałoType" name="Działo"/>
    </xs:sequence>
    <xs:attribute type="xs:short" name="masa" use="optional"/>
    <xs:attribute type="xs:string" name="jednostka" use="optional"/>
  </xs:complexType>
  <xs:complexType name="RadioType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:short" name="zasięg" use="optional"/>
        <xs:attribute type="xs:string" name="jednostka" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ZawieszenieType">
    <xs:sequence>
      <xs:element type="WieżaType" name="Wieża"/>
      <xs:element type="RadioType" name="Radio"/>
    </xs:sequence>
    <xs:attribute type="xs:short" name="udźwig" use="optional"/>
    <xs:attribute type="xs:string" name="jednostka" use="optional"/>
  </xs:complexType>
  <xs:complexType name="WyposażenieType">
    <xs:sequence>
      <xs:element type="ZawieszenieType" name="Zawieszenie"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CzłonekType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="funkcja1" use="optional"/>
        <xs:attribute type="xs:string" name="funkcja2" use="optional"/>
        <xs:attribute type="xs:string" name="funkcja3" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ZałogaType">
    <xs:sequence>
      <xs:element type="CzłonekType" name="Członek" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PojazdType">
    <xs:sequence>
      <xs:element type="xs:string" name="NazwaModelu"/>
      <xs:element type="WagaType" name="Waga"/>
      <xs:element type="PrędkośćMaksymalnaType" name="PrędkośćMaksymalna"/>
      <xs:element type="xs:float" name="DataPowstania"/>
      <xs:element type="WyposażenieType" name="Wyposażenie"/>
      <xs:element type="ZałogaType" name="Załoga"/>
    </xs:sequence>
    <xs:attribute type="xs:byte" name="numer" use="optional"/>
    <xs:attribute type="xs:string" name="typPojazdu" use="optional"/>
    <xs:attribute type="xs:string" name="kraj" use="optional"/>
  </xs:complexType>
  <xs:complexType name="KrajType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="KrajeType">
    <xs:sequence>
      <xs:element type="KrajType" name="Kraj" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TypType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="TypyPojazdowType">
    <xs:sequence>
      <xs:element type="TypType" name="Typ" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FunkcjaType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="id" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="FunkcjeZalogiType">
    <xs:sequence>
      <xs:element type="FunkcjaType" name="Funkcja" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AutorType">
    <xs:sequence>
      <xs:element type="xs:string" name="Imię"/>
      <xs:element type="xs:string" name="Nazwisko"/>
      <xs:element type="xs:int" name="Indeks"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PojazdyPancerneDrugiejWojnyŚwiatowejType">
    <xs:sequence>
      <xs:element type="PojazdType" name="Pojazd" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="KrajeType" name="Kraje"/>
      <xs:element type="TypyPojazdowType" name="TypyPojazdow"/>
      <xs:element type="FunkcjeZalogiType" name="FunkcjeZalogi"/>
      <xs:element type="AutorType" name="Autor"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Zadanie_1_AKType">
    <xs:sequence>
      <xs:element type="xs:string" name="Tytuł"/>
      <xs:element type="PojazdyPancerneDrugiejWojnyŚwiatowejType" name="PojazdyPancerneDrugiejWojnyŚwiatowej"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>